<!-- src/app/user-registration-form/user-registration-form.component.html -->
<mat-card *ngIf="user">
  <mat-card-header>
    <mat-card-title >{{user.username}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <!--          ngModel directive binds the inputs by the user to the userData-->
        <input
          matInput
          [(ngModel)]="user.username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.password"
          type = "password"
          placeholder="Password"
          name="Password"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.email"
          type = "email"
          placeholder="Email"
          name="Email"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.birthday"
          type = "date"
          placeholder="Birthday"
          name="Birthday"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="updateUser()"
      mat-raised-button
      color="primary"
    >
     Update
    </button>
  </mat-card-actions>
</mat-card>

<!--  Display of Favorite Movies-->

<mat-card class="favoriteMoviesCard">
  <div class="favoriteMovies" style="display: flex;">
    <h1> Your Favorite Movies List </h1>
    <mat-card class="favoriteMovieCard" *ngFor="let favoriteMovie of favoriteMovies;" style="flex: 1 1 auto;">
      <mat-card-header>
        <mat-card-title>{{favoriteMovie.title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{favoriteMovie.director.name}}</mat-card-subtitle>
      </mat-card-header>
      <img class="movieImg" [src]='favoriteMovie.imageurl' style="max-height: 600px" [alt]='favoriteMovie.title' />
      <mat-card-actions class="movieCardActions">
        <button
          (click)="openGenreView(favoriteMovie.genres)"
          mat-raised-button color="primary"
        >
          Genre
        </button>
        <button
          (click)="openDirectorView(favoriteMovie.director)"
          mat-raised-button color="primary"
        >
          Director
        </button>
        <button
          (click)="openSynopsisView(favoriteMovie.description)"
          mat-raised-button color="primary"
        > Synopsis
        </button>
      </mat-card-actions>
      <mat-card-footer class="cardFooter">
        <button mat-raised-button color="accent">Remove from Favorites</button>
      </mat-card-footer>
    </mat-card>
  </div>
</mat-card>
